@font-face {
  font-family: 'ProximaNova-Regular';
  src: url("../fonts/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy-ExtraBold';
  src: url("../fonts/Gilroy-ExtraBold.woff") format("woff"), url("../fonts/Gilroy-ExtraBold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  scroll-behavior: smooth;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.blur {
  background-color: rgba(7, 7, 7, 0.75);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  position: relative;
}

.blur:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0.12;
  background-image: url(../img/noize.jpg);
}

.content {
  width: 100%;
  max-width: 1520px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  margin: 0 auto;
  width: 100%;
}

.header_static {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  max-width: 1520px;
  margin: 0 auto;
  min-height: 80px;
  padding: 0 70px;
  z-index: 100;
}

.header_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_title a {
  z-index: 1;
  font-size: 26px;
  line-height: 100%;
  font-family: "Gilroy-ExtraBold";
  color: white;
}

.header_title .site_title {
  margin-left: 11px;
  margin-right: 30px;
}

.header_title p {
  padding-left: 30px;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 12px;
  line-height: 130%;
  font-family: "ProximaNova-Regular", sans-serif;
  color: white;
}

.header_nav {
  z-index: 1;
}

.nav_item {
  display: inline-block;
  margin-right: 30px;
}

.nav_item:last-child {
  margin-right: 0;
}

.nav_item .nav_link {
  z-index: 200;
  font-size: 15px;
  line-height: 100%;
  font-family: "ProximaNova-Regular", sans-serif;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.header_content {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  background-image: url(../img/Optimized-jakob-owens-oIPwvZIAp0o-unsplash.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.header_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 50px;
  max-width: 687px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto 30px;
  padding-top: 150px;
}

.header_subject {
  font-size: 90px;
  line-height: 100%;
  font-family: "Gilroy-ExtraBold";
  color: white;
  text-align: center;
  margin: 0 70px 40px;
}

.header_sub_subject {
  font-size: 26px;
  line-height: 140%;
  font-family: "ProximaNova-Regular", sans-serif;
  color: white;
  text-align: center;
  letter-spacing: -0.5px;
  margin: 0 70px 45px;
}

.inst_span {
  text-decoration: underline;
  font-family: 'Playfair Display', serif;
}

.connect_btn {
  font-size: 15px;
  line-height: 140%;
  font-family: "ProximaNova-Regular", sans-serif;
  color: #333333;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 25px 52px;
  max-width: 337px;
  border: none;
  background-color: #fff;
  margin-bottom: 30px;
}

.features_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  line-height: 100%;
  font-family: "ProximaNova-Regular", sans-serif;
  color: white;
  padding: 0 70px;
  margin-bottom: 20px;
}

.features {
  margin-left: 70px;
  padding: 10px 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(170px, 340px))[3];
      grid-template-columns: repeat(3, minmax(170px, 340px));
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 50px;
}

.features_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 340px;
  height: 70px;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.features_item:last-of-type {
  border-right: none;
}

.features_item p {
  font-size: 15px;
  line-height: 140%;
  font-family: "ProximaNova-Regular", sans-serif;
  color: white;
  padding: 0 30px;
  opacity: 0.8;
}

.galleria {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.galleria_subtitle {
  font-size: 18px;
  line-height: 100%;
  font-family: "ProximaNova-Regular", sans-serif;
  color: #F2C94C;
  letter-spacing: 10px;
  text-transform: uppercase;
  margin-top: 80px;
  margin-bottom: 17px;
}

.galleria_title {
  font-size: 42px;
  line-height: 100%;
  font-family: "Gilroy-ExtraBold";
  color: #333333;
  font-weight: 800;
  margin: 0 70px 50px;
}

.services {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #202020;
  text-align: center;
  padding: 0 70px;
}

.services_subtitle {
  margin-top: 80px;
  margin-bottom: 17px;
  font-size: 18px;
  line-height: 100%;
  font-family: "ProximaNova-Regular", sans-serif;
  color: #F2C94C;
  letter-spacing: 10px;
  text-transform: uppercase;
}

.services_title {
  font-size: 42px;
  line-height: 100%;
  font-family: "Gilroy-ExtraBold";
  color: white;
  font-weight: 800;
  margin-bottom: 50px;
}

.packets {
  display: -ms-grid;
  display: grid;
  gap: 30px;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  padding-bottom: 80px;
}

.packet_description {
  width: 100%;
  padding: 0 40px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.packet_description ul {
  padding-left: 14px;
}

.packet_kind {
  min-width: 200px;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
}

.packet_kind:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
  border: 1px solid white;
}

.kind_subtitle {
  font-size: 15px;
  line-height: 140%;
  font-family: "ProximaNova-Regular", sans-serif;
  color: rgba(255, 255, 255, 0.2);
  padding-top: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.kind_title {
  font-size: 34px;
  line-height: 100%;
  font-family: "Playfair Display";
  color: #F2C94C;
  padding-bottom: 20px;
  letter-spacing: -0.5px;
  font-style: italic;
  font-weight: bold;
}

.description_item {
  list-style-image: url(../img/include_check.svg);
  text-align: left;
  font-size: 18px;
  line-height: 140%;
  font-family: "ProximaNova-Regular", sans-serif;
  color: rgba(255, 255, 255, 0.8);
  padding-bottom: 10px;
}

.description_item:first-of-type {
  margin-top: 40px;
}

.description_item:last-of-type {
  padding-bottom: 40px;
}

.unchecked {
  list-style-image: url(../img/uninclude_check.svg);
  color: rgba(255, 255, 255, 0.2);
}

.price {
  margin-top: 30px;
  margin-bottom: 23px;
  font-size: 36px;
  line-height: 100%;
  font-family: "ProximaNova-Regular", sans-serif;
  color: white;
  font-weight: 900;
  letter-spacing: 1px;
}

.order_btn {
  background: linear-gradient(128.38deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.1) 100%), #F2C94C;
  padding: 20px 73px;
  border: none;
  font-size: 15px;
  line-height: 100%;
  font-family: "ProximaNova-Regular", sans-serif;
  color: #333333;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 900;
  margin-bottom: 40px;
  position: relative;
}

.order_btn:after {
  content: '';
  position: absolute;
  width: 190px;
  height: 100px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-position: center;
  top: -10px;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: blur(10px);
          filter: blur(10px);
  background-image: url(../img/shadow_btn.png);
}

.our_team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-image: url(../img/sea-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
}

.play_btn {
  background-image: url(../img/people.png);
  background-position: bottom center;
  background-repeat: no-repeat;
  max-width: 760px;
  width: 100%;
  min-height: 668px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 70px;
  -ms-flex-line-pack: end;
      align-content: flex-end;
}

.play_link {
  position: relative;
  z-index: 1;
  top: 40px;
}

.play_link:before {
  content: '';
  position: absolute;
  top: -60px;
  bottom: 0px;
  left: -70px;
  right: 0;
  width: 160px;
  height: 160px;
  background-color: #fff;
  border-radius: 50%;
  z-index: -1;
  -webkit-box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.6);
          box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.6);
}

.play_link:after {
  content: '';
  position: absolute;
  left: -101px;
  top: -91px;
  background-image: url(../img/stamp.png);
  background-size: contain;
  height: 220px;
  width: 220px;
  -webkit-animation: rotateStamp linear 40s infinite;
          animation: rotateStamp linear 40s infinite;
}

@-webkit-keyframes rotateStamp {
  0% {
    -webkit-transform: rotate 0deg;
            transform: rotate 0deg;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotateStamp {
  0% {
    -webkit-transform: rotate 0deg;
            transform: rotate 0deg;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.team_description {
  max-width: 680px;
  min-height: 668px;
  padding: 80px;
  padding-right: 70px;
}

.about_team #goal {
  color: #F2C94C;
  text-decoration: underline;
}

.about_team h3 {
  font-size: 18px;
  line-height: 100%;
  font-family: "ProximaNova-Regular", sans-serif;
  color: #F2C94C;
  letter-spacing: 10px;
  text-transform: uppercase;
  margin-bottom: 27px;
}

.about_team h2 {
  font-size: 34px;
  line-height: 120%;
  font-family: "Gilroy-ExtraBold";
  color: white;
  font-weight: 800;
  margin-bottom: 40px;
}

.about_team p {
  font-size: 18px;
  line-height: 140%;
  font-family: "ProximaNova-Regular", sans-serif;
  color: rgba(255, 255, 255, 0.8);
  letter-spacing: -0.3px;
}

.reviews {
  padding-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.reviews h3 {
  font-size: 18px;
  line-height: 100%;
  font-family: "ProximaNova-Regular", sans-serif;
  color: #F2C94C;
  letter-spacing: 10px;
  text-transform: uppercase;
  margin-bottom: 27px;
}

.reviews > h2 {
  max-width: 652px;
  font-size: 34px;
  line-height: 120%;
  font-family: "Gilroy-ExtraBold";
  color: #333333;
  margin: 0 70px 70px;
  font-weight: 800;
  text-align: center;
}

.person_review {
  width: 440px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 40px 50px 40px 380px;
  border: 2px solid #E9E9E9;
}

.person_review h2 {
  letter-spacing: 0.3px;
  font-size: 20px;
  line-height: 140%;
  font-family: "ProximaNova-Regular", sans-serif;
  color: #333333;
  margin-bottom: 17px;
  font-weight: 900;
}

.person_review p {
  font-size: 16px;
  line-height: 150%;
  font-family: "ProximaNova-Regular", sans-serif;
  color: #333333;
  margin-bottom: 21px;
  letter-spacing: 0.3px;
}

.person_review a {
  padding-left: 30px;
  font-size: 16px;
  line-height: 100%;
  font-family: "ProximaNova-Regular", sans-serif;
  color: #505050;
  letter-spacing: -0.3px;
  font-weight: 900;
  position: relative;
}

.person_review a:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  background: url(../img/inst_logo.svg);
  height: 20px;
  width: 20px;
  background-size: cover;
  background-repeat: no-repeat;
}

.slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  padding: 0px 30px;
  position: relative;
}

.slide .person_img {
  position: absolute;
  left: 60px;
}

.swiper-container {
  max-width: 960px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 300px;
  margin-bottom: 80px;
  width: 100%;
  padding: 20px  0 !important;
}

.swiper_btn_active_next, .swiper_btn_active_prev {
  position: absolute;
  right: 33px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: linear-gradient(101.67deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.1) 100%), #F2C94C;
  z-index: 10;
  background-image: url(../img/arrow_next.svg);
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: center;
}

.swiper_btn_active_prev {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  left: 5px;
}

.disabled {
  background-color: #E9E9E9;
  background-image: url(../img/arrow_next_disabled.svg);
  background-size: 20px;
}

footer {
  background-color: #202020;
  color: blanchedalmond;
}

.footer_section {
  padding-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer_section h3 {
  font-size: 18px;
  line-height: 100%;
  font-family: "ProximaNova-Regular", sans-serif;
  color: #F2C94C;
  letter-spacing: 10px;
  text-transform: uppercase;
  margin-bottom: 17px;
}

.footer_section h2 {
  max-width: 1024px;
  font-size: 34px;
  line-height: 120%;
  font-family: "Gilroy-ExtraBold";
  color: white;
  margin: 0 70px 60px;
  font-weight: 800;
  text-align: center;
}

.link_body {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0 auto;
}

.telegram {
  background-image: url(../img/telegram_icon.svg);
  background-color: #0088CC;
  -webkit-box-shadow: 0 10px 20px rgba(0, 136, 204, 0.4);
          box-shadow: 0 10px 20px rgba(0, 136, 204, 0.4);
}

.viber {
  background-image: url(../img/viber_logo.svg);
  background-color: #9b51e0;
  -webkit-box-shadow: 0 10px 20px rgba(155, 81, 224, 0.4);
          box-shadow: 0 10px 20px rgba(155, 81, 224, 0.4);
}

.fb {
  background-image: url(../img/fb_logo.svg);
  background-color: #3B5998;
  -webkit-box-shadow: 0 10px 20px rgba(59, 88, 152, 0.4);
          box-shadow: 0 10px 20px rgba(59, 88, 152, 0.4);
}

.inst {
  background-image: url(../img/instagram_soc_logo.svg);
  -webkit-box-shadow: 0 10px 20px rgba(209, 92, 24, 0.4);
          box-shadow: 0 10px 20px rgba(209, 92, 24, 0.4);
}

.whatsapp {
  background-image: url(../img/whatsLogo.svg);
  background-color: #42D691;
  -webkit-box-shadow: 0 10px 20px rgba(66, 214, 145, 0.4);
          box-shadow: 0 10px 20px rgba(66, 214, 145, 0.4);
}

.vkk {
  background-color: #4C75A3;
  background-image: url(../img/vk_logo.svg);
  -webkit-box-shadow: 0 10px 20px rgba(76, 117, 163, 0.4);
          box-shadow: 0 10px 20px rgba(76, 117, 163, 0.4);
}

.social {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(40px, 1fr))[6];
      grid-template-columns: repeat(6, minmax(40px, 1fr));
  gap: 20px;
}

.soc_name {
  font-size: 14px;
  line-height: 140%;
  font-family: "ProximaNova-Regular", sans-serif;
  color: white;
  text-align: center;
  letter-spacing: -0.3px;
  text-transform: uppercase;
  margin-top: 10px;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 860px;
  min-height: 228px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 0 50px 35px;
  margin: 60px 70px 20px;
}

.form legend {
  font-size: 24px;
  line-height: 140%;
  font-family: "ProximaNova-Regular", sans-serif;
  color: white;
  text-transform: uppercase;
  text-align: center;
  padding: 0 30px;
  font-weight: 900;
}

.input_info {
  display: -ms-grid;
  display: grid;
  gap: 20px;
  -ms-grid-columns: (minmax(200px, auto))[2];
      grid-template-columns: repeat(2, minmax(200px, auto));
  margin-top: 33px;
  width: 100%;
}

.inter_field {
  position: relative;
}

.inter_field label {
  position: absolute;
  left: 0;
  top: 20px;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  font-size: 18px;
  line-height: 67%;
  font-family: "ProximaNova-Regular", sans-serif;
  color: rgba(255, 255, 255, 0.5);
}

.inter_field input {
  z-index: 1;
  position: relative;
  width: 100%;
  height: 55px;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  background-color: transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 18px;
  line-height: 167%;
  font-family: "ProximaNova-Regular", sans-serif;
  color: white;
  font-weight: 600;
}

.inter_field input:focus {
  border-bottom: 1px solid #fff;
}

.inter_field input.full + label,
.inter_field input:focus + label {
  color: #fff;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  font-size: 12px;
}

.submit_btn {
  position: relative;
  width: 100%;
  min-height: 55px;
  background: linear-gradient(144.27deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.1) 100%), #F2C94C;
  font-size: 15px;
  line-height: 150%;
  font-family: "ProximaNova-Regular", sans-serif;
  color: #000000;
  border: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

.submit_btn:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 50px;
  left: 0px;
  top: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: blur(10px);
          filter: blur(10px);
  background-image: url(../img/submit_shadow.png);
}

.confiditional {
  max-width: 860px;
  padding: 0 30px;
  text-align: center;
  font-size: 14px;
  line-height: 150%;
  font-family: "ProximaNova-Regular", sans-serif;
  color: #707070;
  margin-bottom: 60px;
}

.confiditional > a {
  color: #fff;
  text-decoration: underline;
}

.end {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  width: 100%;
  padding: 25px 0;
  text-align: center;
  font-size: 15px;
  line-height: 160%;
  font-family: "ProximaNova-Regular", sans-serif;
  color: #707070;
}

.end > span {
  color: #fff;
  text-decoration: underline;
}

img {
  max-width: 100%;
}

.galleria {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.galleria label {
  position: relative;
  cursor: pointer;
  font-size: 15px;
  line-height: 140%;
  font-family: "ProximaNova-Regular", sans-serif;
  color: #333333;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: bold;
  border: 2px solid rgba(0, 0, 0, 0.2);
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  padding: 20px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  transition-duration: 300ms;
}

.galleria label:hover {
  border-color: #F2C94C;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}

.galleria input[type=radio] {
  display: none;
}

.galleria .controls_panel {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(130px, 190px))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(130px, 190px));
  gap: 20px;
  margin: 0 70px 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.galleria .wrap_kind {
  margin-left: 70px;
  display: none;
  overflow: hidden;
  overflow-x: scroll;
  max-width: 1520px;
  margin-bottom: 80px;
}

.galleria .wrap_kind::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

#family:checked ~ .wrap > .family_shots,
#lovestory:checked ~ .wrap > .lovestore_shots,
#lifestyle:checked ~ .wrap > .lifestory_shots,
#fashion:checked ~ .wrap > .fashion_shots,
#glamour:checked ~ .wrap > .glamour_shots,
#retro:checked ~ .wrap > .retro {
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
  -ms-grid-columns: (520px)[4];
      grid-template-columns: repeat(4, 520px);
  -ms-grid-rows: (330px)[3];
      grid-template-rows: repeat(3, 330px);
}

#family:checked ~ .controls_panel > label[for="family"],
#lovestory:checked ~ .controls_panel > label[for="lovestory"],
#lifestyle:checked ~ .controls_panel > label[for="lifestyle"],
#fashion:checked ~ .controls_panel > label[for="fashion"],
#glamour:checked ~ .controls_panel > label[for="glamour"],
#retro:checked ~ .controls_panel > label[for="retro"] {
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  background: linear-gradient(114.44deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.1) 100%), #F2C94C;
  border: 2px solid #fff;
}

#family:checked ~ .controls_panel > label[for="family"]:after,
#lovestory:checked ~ .controls_panel > label[for="lovestory"]:after,
#lifestyle:checked ~ .controls_panel > label[for="lifestyle"]:after,
#fashion:checked ~ .controls_panel > label[for="fashion"]:after,
#glamour:checked ~ .controls_panel > label[for="glamour"]:after,
#retro:checked ~ .controls_panel > label[for="retro"]:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100px;
  left: 0px;
  top: 30px;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-filter: blur(3px);
          filter: blur(3px);
  background-image: url(../img/submit_shadow.png);
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}

.picture {
  position: relative;
  overflow: hidden;
  border-radius: 4px;
}

.picture:nth-of-type(3) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
  grid-row-start: 2;
  grid-column-start: 1;
}

.picture:nth-of-type(4) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  grid-row-start: 1;
  -ms-grid-column: 3;
      grid-column-start: 3;
}

.picture a {
  display: block;
  width: 100%;
  height: 100%;
}

.picture a:hover:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(123.69deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.1) 100%), #F2C94C;
  opacity: 0.8;
  background-image: url(../img/galleria_imgs/scale_logo.svg);
  background-position: center center;
  background-repeat: no-repeat;
  z-index: 0;
}

.picture a img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu_button {
  display: none;
  z-index: 1;
  width: 30px;
  height: 3px;
  background-color: #fff;
  position: absolute;
  right: 35px;
  top: 30px;
  border: none;
}

label[for="menu_btn"] {
  z-index: 1;
  width: 30px;
  height: 21px;
  background-color: transparent;
  position: absolute;
  right: 35px;
  top: 30px;
}

.menu_button:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  top: 8px;
  left: 0;
  background-color: #fff;
  -webkit-transition: -webkit-transform 0.1s;
  transition: -webkit-transform 0.1s;
  transition: transform 0.1s;
  transition: transform 0.1s, -webkit-transform 0.1s;
}

.menu_button:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  top: 16px;
  left: 0;
  background-color: #fff;
}

.menu_button_active {
  height: 0;
  background-color: transparent;
  border: none;
}

.menu_button_active:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin: 0;
  top: 8px;
}

.menu_button_active:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin: 0;
  top: 8px;
}

@media (max-width: 1400px) {
  .galleria .controls_panel {
    -ms-grid-rows: (auto)[2];
        grid-template-rows: repeat(2, auto);
    -ms-grid-columns: (minmax(130px, 200px))[3];
        grid-template-columns: repeat(3, minmax(130px, 200px));
  }
}

@media (max-width: 1000px) {
  .features {
    margin-left: 0;
  }
  .features_item p {
    padding: 0 15px;
    font-size: 11px;
  }
  .header_title p {
    display: none;
  }
  .description_item {
    font-size: 14px;
  }
  .order_btn {
    padding: 15px 40px;
  }
  .our_team {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-size: auto 135vh;
  }
  .team_description {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    max-width: 100%;
    min-height: -webkit-min-content;
    min-height: -moz-min-content;
    min-height: min-content;
    text-align: justify;
  }
  .play_btn {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .about_team h3,
  .about_team h2 {
    text-align: center;
  }
  .swiper_btn_active_next {
    right: 5px;
  }
}

@media (max-width: 800px) {
  .nav_list {
    display: none;
  }
  .nav_list_mob {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .nav_list_mob .nav_item {
    margin-right: 0;
    margin-bottom: 20px;
    text-align: center;
  }
  .header_static_mob {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header_static_mob .header_title {
    margin: 25px 0;
  }
  .header_static_mob .header_title a {
    margin-right: 0;
    margin-left: 10px;
    font-size: 24px;
  }
  .header_static_mob .header_title img {
    width: 50px;
  }
  .menu_button {
    display: block;
  }
  .header_subject {
    font-size: 72px;
  }
  .header_sub_subject {
    font-size: 20px;
    max-width: 100%;
    margin: 0 30px 45px;
  }
  .person_img {
    width: 250px;
  }
  .person_review {
    padding-left: 300px;
  }
  .packets {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .description_item {
    font-size: 24px;
  }
  .packet_description {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .features {
    padding: 10px 30px;
    gap: 30px;
  }
  .features_item img {
    width: 30px;
  }
  .submit_btn {
    font-size: 12px;
  }
  .inter_field label {
    font-size: 14px;
  }
  .link_body {
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 600px) {
  .header_static {
    padding: 0 30px;
  }
  .features {
    -ms-grid-columns: minmax(200px, 400px);
        grid-template-columns: minmax(200px, 400px);
  }
  .features_title {
    padding: 0 30px;
  }
  .connect_btn {
    padding: 20px 35px;
    border-radius: 5px;
  }
  .services {
    padding: 0 30px;
  }
  .team_description {
    padding-right: 30px;
    padding-left: 30px;
  }
  .reviews > h2 {
    margin: 0 30px 70px;
  }
  .galleria .wrap_kind {
    margin-left: 30px;
  }
  .form {
    margin: 60px 30px 20px;
  }
  .features_item {
    max-width: 400px;
    border: none;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .features_item p {
    font-size: 20px;
  }
  .features_item img {
    width: 50px;
    margin-right: 20px;
  }
  .person_img {
    top: 20px;
    width: 70px;
    border-radius: 50%;
  }
  .person_review {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 30px;
    padding-right: 50px;
  }
  .person_review h2 {
    margin-top: 50px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .person_review a {
    margin-top: 15px;
    font-size: 130%;
    margin-left: 100px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .person_review p {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .input_info {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .form legend {
    font-size: 18px;
  }
  .social {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
  }
  .header_subject {
    font-size: 60px;
    margin: 0 30px 40px;
  }
  .header_sub_subject {
    font-size: 15px;
  }
  .footer_section h2 {
    font-size: 24px;
  }
  .play_btn {
    padding-left: 30px;
  }
  .end {
    padding: 25px 30px;
  }
  .galleria .controls_panel {
    -ms-grid-columns: (minmax(130px, 170px))[2];
        grid-template-columns: repeat(2, minmax(130px, 170px));
  }
  .header_content {
    background-size: auto 110vh;
  }
  .our_team {
    background-size: auto 145vh;
  }
}

@media (max-width: 412px) {
  h2 {
    font-size: 24px !important;
  }
  .about_team h3 {
    font-size: 14px;
  }
  .description_item {
    font-size: 14px;
  }
  .header_subject {
    font-size: 42px;
    max-width: 80%;
  }
  .header_sub_subject {
    max-width: 80%;
    font-size: 12px;
  }
  .services_title {
    font-size: 30px;
  }
  .services_subtitle {
    font-size: 14px;
  }
  .footer_section h2 {
    margin: 0 30px 60px;
  }
  .person_review {
    max-width: 100%;
    padding: 25px;
  }
  .person_review a {
    font-size: 100%;
    margin-top: 10px;
    margin-left: 50px;
    padding-left: 25px;
    padding-top: 3px;
  }
  .connect_btn {
    padding: 15px 25px;
  }
  .slide .person_img {
    left: 45px;
    width: 50px;
    height: 50px;
  }
  .swiper_btn_active_next,
  .swiper_btn_active_prev {
    width: 40px;
    height: 40px;
  }
  .swiper_btn_active_next {
    right: 12px;
  }
  .swiper_btn_active_prev {
    left: 12px;
  }
  .swiper-slide {
    margin: 0;
  }
  .form {
    padding: 0 30px 30px;
  }
  .form legend {
    padding: 0 10px;
    font-size: 11px;
  }
  .header_title .site_title {
    font-size: 20px;
  }
  .header_static_mob .header_title img {
    width: 40px;
  }
  .header_static_mob .header_title a {
    font-size: 22px;
  }
}
/*# sourceMappingURL=style.css.map */